<div class="band mt25 mb100 codestorm-user-profile-view codestorm-user-profile-welcome-view">
  <div class="container">

    <div class="row welcome-tribes-component">
      <section class="span9">
        <h1>Welcome to CodeStorm!</h1>
        <p>CodeStorm is a platform built to help build stronger software engineering teams.</p>
        <p>In trying to connect developers with the right people, teams, and technologies, choose a number of technologies you love to work with!</p>

        <div class="tribes-list">
          <div class="row">
            <a href="#" class="span3 m-btn big blue">JavaScript</a>
            <a href="#" class="span3 m-btn big blue">Ruby</a>
            <a href="#" class="span3 m-btn big blue">Python</a>
          </div>
          <div class="row">
            <a href="#" class="span3 m-btn big blue">Java</a>
            <a href="#" class="span3 m-btn big blue">.NET</a>
            <a href="#" class="span3 m-btn big blue">PHP</a>
          </div>
          <div class="row">
            <a href="#" class="span3 m-btn big blue">C</a>
            <a href="#" class="span3 m-btn big blue">C++</a>
            <a href="#" class="span3 m-btn big blue">Objective-C</a>
          </div>
        </div>

        <hr />

        <div class="row controls">
          <a class="m-btn bigicn-only green" title="Go to my profile" href="/DevOp/"><i class="m-icon-big-swapright m-icon-white"></i></a>

        </div>
      </section>
      <section class="span3">
      </section>
    </div>
  </div>
</div>
