<section class="hero line">
  <div class="content-container container">
    <h2 class="call-out">Making DevOps More Open and Connected.</h2>
    <ul class="products">
      <li class="amazing-insights"><a href="/Home/AmazingInsights" title="Amazing Insights - real-time performance analysis and logging">
        <img src="@Url.Content("~/content/images/products/btn-amazing-insights.png")" /></a></li>
      <li class="codestorm"><a href="http://www.codestorm.in" title="Social DevOps - stay connected with your tools, your teams, and your solutions">
        <img src="@Url.Content("~/content/images/products/btn-codestorm.png")" /></a></li>
    </ul>
    <a href="/Account/LogOn" title="Sign Up for Free" class="btn-signup m-btn blue">
      <h2>Join The Movement! <i class="m-icon-big-swapright m-icon-white"></i></h2>
      <span>Get free access to the suite of tools!</span></a>
  </div>
</section>
