@*<h3 class="bopad">
    Upcoming Events</h3>
<p>
    <ul>
        <li>Vancouver Windows Azure</li>
        <li>August 23rd</li>
        <li><a href="http://www.meetup.com/VancouverAzure/events/73770482/" target="_blank">The David Aiken</a></li>
    </ul>
</p>*@