<h3 class="custom-widgets-title">C# Integration Examples</h3>
<ul class="widget-accordion">
  <li class="current">
    <h3>Get started with NuGet</h3>
    <div class="inpad" style="display: block;">
      <code>
        <pre>PM> Install-Package Abc.Client.dll</pre>
      </code><a href="http://www.nuget.org/packages/Abc.Client.dll" target="_blank" class="button-normal light-blue">On Nuget<span class="ui-icon ui-icon-extlink"></span></a>
    </div>
  </li>
  <li>
    <h3>Messages</h3>
    <div class="inpad" style="display: none;">
      <code>
        <pre>Trace.Write("Log message.");</pre>
      </code>
    </div>
  </li>
  <li class="">
    <h3>Performance</h3>
    <div class="inpad" style="display: none;">
      <code>
        <pre>using (new PerformanceMonitor())
{
  ...your code here
}</pre>
      </code>
    </div>
  </li>
  <li class="">
    <h3>Exceptions</h3>
    <div class="inpad">
      <code>
        <pre>try {
  ...your code here
} catch (Exception ex) {
  var log = new Logger();
  log.Log(ex);
}</pre>
      </code>
    </div>
  </li>
</ul>
