<div class="content inpad">
    <ul class="widget-accordion">
        <li class="current">
            <h3>
                NuGet</h3>
            <div class="inpad" style="display: block;">
                <a href="//nuget.org/packages/Abc.Client.dll" target="_blank" class="button-normal light-blue">
                    Amazing Insights<span class="ui-icon ui-icon-extlink"></span></a><br />
                <br />
                <code>
                    <pre style="font-size: x-small;">PM> Install-Package Abc.Client.dll</pre>
                </code>
            </div>
        </li>
        <li>
            <h3>
                Current</h3>
            <div class="inpad" style="display: none;">
                <a href="//cdn.agilebusinesscloud.com/download/Abc.Client.1.0.2.7.zip" target="_blank"
                    class="button-normal light-green">Latest<span class="ui-icon ui-icon-arrowthick-1-s"></span></a>
                <a href="//cdn.agilebusinesscloud.com/download/Abc.Client.1.0.2.6.zip" target="_blank"
                    class="button-normal light-yellow">1.0.2.6<span class="ui-icon ui-icon-arrowthick-1-s"></span></a>
            </div>
        </li>
        <li>
            <h3>
                Older</h3>
            <div class="inpad" style="display: none;">
                <a href="//cdn.agilebusinesscloud.com/download/Abc.Client.1.0.2.3.zip" target="_blank"
                    class="button-normal light-red">1.0.2.3<span class="ui-icon ui-icon-arrowthick-1-s"></span></a>
                <a href="//cdn.agilebusinesscloud.com/download/Abc.Client.1.0.2.2.zip" target="_blank"
                    class="button-normal light-red">1.0.2.2<span class="ui-icon ui-icon-arrowthick-1-s"></span></a>
                <a href="//cdn.agilebusinesscloud.com/download/Abc.Client.1.0.2.1.zip" target="_blank"
                    class="button-normal light-red">1.0.2.1<span class="ui-icon ui-icon-arrowthick-1-s"></span></a>
                <a href="//cdn.agilebusinesscloud.com/download/Abc.Client.1.0.2.0.zip" target="_blank"
                    class="button-normal light-red">1.0.2.0<span class="ui-icon ui-icon-arrowthick-1-s"></span></a>
                <a href="//cdn.agilebusinesscloud.com/download/Abc.Client.1.0.1.9.zip" target="_blank"
                    class="button-normal light-red">1.0.1.9<span class="ui-icon ui-icon-arrowthick-1-s"></span></a>
                <a href="//cdn.agilebusinesscloud.com/download/Abc.Client.1.0.1.8.zip" target="_blank"
                    class="button-normal light-red">1.0.1.8<span class="ui-icon ui-icon-arrowthick-1-s"></span></a>
                <a href="//cdn.agilebusinesscloud.com/download/Abc.Client.1.0.1.7.zip" target="_blank"
                    class="button-normal light-red">1.0.1.7<span class="ui-icon ui-icon-arrowthick-1-s"></span></a>
                <a href="//cdn.agilebusinesscloud.com/download/Abc.Client.1.0.1.6.zip" target="_blank"
                    class="button-normal light-red">1.0.1.6<span class="ui-icon ui-icon-arrowthick-1-s"></span></a>
                <a href="//cdn.agilebusinesscloud.com/download/Abc.Client.1.0.1.5.zip" target="_blank"
                    class="button-normal light-red">1.0.1.5<span class="ui-icon ui-icon-arrowthick-1-s"></span></a>
            </div>
        </li>
    </ul>
</div>
