<div class="content inpad">
    <ul class="widget-accordion">
        <li class="current">
            <h3>
                Amazing Insights</h3>
            <div class="inpad" style="display: block;">
                <a href="//nuget.org/packages/Abc.Client.dll" target="_blank" class="button-normal light-blue">
                    On NuGet<span class="ui-icon ui-icon-extlink"></span></a><br />
                <br />
                <code>
                    <pre>PM> Install-Package Abc.Client.dll</pre>
                </code>
            </div>
        </li>
        <li>
            <h3>
                Amazing Insights Collector</h3>
            <div class="inpad" style="display: none;">
                <a href="//cdn.agilebusinesscloud.com/download/Abc.Client.Collector.1.0.2.5.zip"
                    class="button-normal light-green">Download<span class="ui-icon ui-icon-arrowthick-1-s"></span></a>
                <a href="//nuget.org/packages/Abc.Client.Collector" target="_blank" class="button-normal light-blue">
                    On NuGet<span class="ui-icon ui-icon-extlink"></span></a><br />
                <br />
                <code>
                    <pre>PM> Install-Package Abc.Client.Collector</pre>
                </code>
            </div>
        </li>
    </ul>
</div>
