<table class="table-clean no-margin" summary="Application Summary">
  <thead>
    <tr>
      <th>Package </th>
      <th>Applications </th>
      <th>Cost </th>
    </tr>
  </thead>
  <tr>
    <td>Introductory </td>
    <td>2 </td>
    <td>only $9.99 per Month </td>
  </tr>
  <tr>
    <td>Custom </td>
    <td>&gt; 10 </td>
    <td><a href="mailto:info@agilebusinesscloud.com" class="button-normal white"><span class="ui-icon ui-icon-mail-closed"></span>Contact Us</a> </td>
  </tr>
  <tr>
    <td>Free </td>
    <td>1 </td>
    <td>Free </td>
  </tr>
</table>
