<div id="widget-graph" class="component component-widget-graph">
  <div class="graph-legend">
    <ul>
      <li class="total"><span class="box"></span>Throughput <span class="speed"></span></li>
      <li class="performance"><span class="box"></span>Performance <span class="speed"></span></li>
      <li class="errors"><span class="box"></span>Errors <span class="speed"></span></li>
      <li class="messages"><span class="box"></span>Messages <span class="speed"></span></li>
      <li class="eventlog"><span class="box"></span>Server <span class="speed"></span></li>
    </ul>
  </div>
  <canvas id="application-graph-data" width="595" height="85" />
</div>
