<h3 class="bopad">Social</h3>
<div class="component social-sharing-component">
  <div class="line btn-follow-us">
    <a href="//twitter.com/WeAreABC" class="twitter-follow-button" data-show-count="false">Follow @@WeAreABC</a>
    <script>      !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
  </div>
  <ul>
    <li class="github"><a href="//github.com/AgileBusinessCloud" target="_blank"><span></span>Find us GitHub!</a></li>
    <li class="blogspot"><a href="//agilebusinesscloud.com/Blog/"><span></span>Read Our Blog!</a></li>
    <li class="facebook"><a href="//facebook.com/AgileBusinessCloud" target="_blank"><span></span>Connect on Facebook!</a></li>
  </ul>
</div>
