<ul class="mojoTemplate component component-tweets" modelsource="abc.External.Tweets">
  {{#Tweets}}
  <li>
    <p class="tweet-text">{{{Text}}}</p>
    <span class="tweet-author" href="http://twitter.com/{{ScreenName}}" title="{{ScreenName}}">Tweeted by {{ScreenName}}</span></li>
  {{/Tweets}}
</ul>