<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Application Identifier should be specified per application (per environment) to maximize granularity of logged messages. -->
    <add key="ApplicationIdentifier" value="" />
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <!-- Standard .NET Trace Listener Provider. -->
        <add name="ABC Trace Listener" type="Abc.Diagnostics.TraceListener, Abc.Client"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>