@{
    ViewBag.Title = "GitHub Authentication on CodeStorm";
}
<div class="band mt25 mb25">
    <div class="container">
        <section class="controls">
            <h3 class="sectionhead">GitHub: Authorization Redirect, you should not see this page.</h3>
            <center><img src="/Content/images/blacktocat.svg" width="250px" alt="Use GitHub to join us!" /></center>
        </section>
    </div>
</div>