@{
  ViewBag.Title = "Join the CodeStorm movement now!";
}
<div class="band mt25 mb25">
  <div class="container">
    <div class="row">
      <section class="control span6">
        <h1>Sign In
          <img src="/content/images/btn-github.png"></h1>
        <p>We use Github as a way of easily getting on to the platform. Click below and allow
          the application to start your CodeStorming!</p>
        <a class="m-btn blue big" href="https://github.com/login/oauth/authorize?client_id=@ViewBag.ClientId">
          Login with Github <i class="m-icon-big-swapright m-icon-white"></i></a>
      </section>
      <section class="controls span6">
        <h5 class="mb25">We help developers be better developers by keeping them connected.</h5>
        <p>CodeStorm.in is on a mission to connect developers with their teams, tools, and
          solutions by leveraging existing toolsets like GitHub.</p>
        <ol>
          <li>Push development inspirations to your followers in real-time</li>
          <li>Share your favorite tools and open source projects</li>
          <li>Gain achievements based on usage on your existing tools</li>
        </ol>
        @*        <h3>ABC Users</h3>
        <a href="//agilebusinesscloud.com/Account/LogOn">
          <img src="//cdn.agilebusinesscloud.com/content/images/logo-abc-blue-raw.jpg" width="160px" /></a>*@
      </section>
    </div>
  </div>
</div>
