@using Abc.Website;
@{
  ViewBag.Title = "Contact Us | ABC";
}
<h1 class="custom-widgets-title no-topad">Contact Us</h1>
<div class="section contact-us-page">
  <div class="small x2">
    <div class="large">
      <img src="//gravatar.com/avatar/8c4624380b0478d752699f719a7a65c5?s=150" alt="Jef King" />
      <h3>Jef King</h3>
      <h4><strong>Chief Executive Officer</strong></h4>
      <p>604.341.5676</p>
      <p><a href="maitlto:Jef@AgileBusinessCloud.com">Jef@AgileBusinessCloud.com</a></p>
      <p><a href="http://www.twitter.com/#!/jefkingabc" target="_blank">@@JefKingABC</a></p>
    </div>
    <div class="large">
      <img src="//gravatar.com/avatar/cc9bd7adeccabb6d81fa4dc07a92f2bf?s=150" alt="Jaime Bueza" />
      <h3>Jaime Bueza</h3>
      <h4><strong>Chief Experience Officer</strong></h4>
      <p>778.389.0209</p>
      <p><a href="maitlto:Jaime@AgileBusinessCloud.com">jaime@agilebusinesscloud.com</a></p>
      <p><a href="http://www.twitter.com/#!/jbueza" target="_blank">@@jbueza</a></p>
    </div>
    <div class="large">
      <img src="//gravatar.com/avatar/03e81268ddfe858d6aa8edec847e6e15?s=150" alt="George Danes" />
      <h3>George Danes, CA</h3>
      <h4><strong>Chief Financial Officer</strong></h4>
      <p>778.387.8087</p>
      <p><a href="maitlto:George@AgileBusinessCloud.com">George@AgileBusinessCloud.com</a></p>
      <p><a href="http://www.twitter.com/#!/georgedanesabc" target="_blank">@@GeorgeDanesABC</a></p>
    </div>
  </div>
  <div class="small">
    <div class="section full">
      <div id="mapviewer">
        <iframe id="map" name="mapFrame" scrolling="no" width="300" height="450" frameborder="0"
          src="http://www.bing.com/maps/embed/?lvl=15&amp;cp=49.280703~-123.109310&amp;sty=r&amp;draggable=true&amp;v=2&amp;dir=0&amp;where1=546%20Beatty%20St%2C%20Vancouver%2C%20BC%2C%20V6B%2C+British+Columbia%2C+V6Z+2Z2&amp;nwyw=1&amp;ss=yp.703-193+Aquarius+Mews+Vancouver%2C+British+Columbia+V6Z+2Z2&amp;form=LMLTEW&amp;mkt=en-ca&amp;emid=efe0054d-58af-8b93-5873-c0bd18d410da&amp;w=300&amp;h=450">
        </iframe>
      </div>
      <pre>546 Beatty Street
<br />Vancouver, British Columbia
<br />Canada
<br />V6B 2L3</pre>
      <h4>Additional Contact</h4>
      <p>Feel free to connect with us on the following avenues!</p>
      <ul>
        <li><span class="ui-icon ui-icon-carat-1-e"></span><a href="/Corporate/About">About
          ABC</a></li>
        <li><span class="ui-icon ui-icon-carat-1-e"></span><a href="//www.twitter.com/#!/WeAreABC"
          target="_blank">@@WeAreABC</a></li>
        <li><span class="ui-icon ui-icon-carat-1-e"></span><a href="https://www.facebook.com/AgileBusinessCloud"
          target="_blank">Facebook</a></li>
        <li><span class="ui-icon ui-icon-carat-1-e"></span><a href="//www.linkedin.com/company/agile-business-cloud-solutions-ltd"
          target="_blank">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</div>
