@{
  ViewBag.Title = "Server Error | ABC";
}
<h2>Sorry, an error occurred while processing your request. </h2>
<div class="manager-controls">
  <a href="#" onclick="history.go(-1)" class="button-small round"><span class="ui-icon ui-icon-circle-plus"></span>Back</a> <a href="http://www.agilebusinesscloud.com" class="button-small round"><span class="ui-icon ui-icon-circle-plus"></span>Home</a>
</div>
