@{
    ViewBag.Title = "Page Not Found | ABC";
}
<h2>Sorry, the resource you requested we not found. </h2>
<div class="manager-controls">
  <a href="/" class="button-small round"><span class="ui-icon ui-icon-circle-plus"></span>Back</a> <a href="http://www.agilebusinesscloud.com" class="button-small round"><span class="ui-icon ui-icon-circle-plus"></span>Home</a>
</div>
