@using Abc.Website;
@{
    ViewBag.Title = "Microsoft's Windows Azure Training | ABC";
}
<div class="section about-us-page abc-content">
    <h1 class="custom-widgets-title no-topad">
        Windows Azure Training</h1>
    <div class="small x2 main">
        <div class="section">
            <div class="full line">
                <h2>
                    Microsoft Virtual Partner Technology Advisor</h2>
                <p>
                    A Virtual Partner Technology Advisor readiness session will provide you with a one
                    day hands on readiness opportunity with a subject matter expert from the Virtual
                    Partner Technology Advisor Program. At your organization your team will participate
                    in an interactive technical readiness session to help provide participants with
                    an understanding of the Microsoft technology solution and how it can help increase
                    your service offerings and prospective customers.</p>
                <h2 class="custom-widgets-title">
                    Training Topics</h2>
                <p>
                    ABC is a VPTA (Virtual Partner Technology Advisor)
                    for Microsoft.</p>
                <div class="content inpad">
                    <ul class="widget-accordion">
                        <li class="current">
                            <h3>
                                Management Portal</h3>
                            <div class="inpad">
                                <p>
                                    The Windows Azure mamangement portal allows administrators of you systems interaction
                                    with your servers and services. It is crutial to know the tools that you have available.
                                    <a href="https://windows.azure.com/default.aspx" target="_blank">Management Portal</a></p>
                            </div>
                        </li>
                        <li>
                            <h3>
                                Pricing</h3>
                            <div class="inpad">
                                <p>
                                    As the pay-as-you-go model can revolutionize your business it is important to know
                                    how much your services are going to cost. There are many options available to you
                                    which we can help guide you through. Microsoft has even built a calculator tool:
                                    <a href="https://www.windowsazure.com/en-us/pricing/calculator/" target="_blank">here</a></p>
                            </div>
                        </li>
                        <li>
                            <h3>
                                Compute</h3>
                            <div class="inpad">
                                <p>
                                    Learn how to deploy WebRoles and Worker Roles in the following technologies: ASP.NET,
                                    NodeJS, PHP, and Java</p>
                                <p>
                                    Additionally, we'll take a deep dive into the mechanics of Web Roles, Worker Roles,
                                    and VM Roles.</p>
                            </div>
                        </li>
                        <li>
                            <h3>
                                SQL Azure</h3>
                            <div class="inpad">
                                <p>
                                    We can help you move on-premise SQL instances into SQL Azure, and discuss how to
                                    properly scale and synchronize your data globally.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="small">
        <div class="section line full">
            @Html.Partial("_Social")
        </div>
        <div class="section line full">
            @Html.Partial("_Events")
        </div>
        <div class="section line full">
            <h2>
                Microsoft VPTA</h2>
            <p>
                ABC is a Microsoft VPTA.</p>
            <p>
                The Virtual Partner Technology Advisor readiness session will provide you with a
                one day hands on readiness opportunity with a subject matter expert from the Virtual
                Partner Technology Advisor Program. At your organization your team will participate
                in an interactive technical readiness session to help provide participants with
                an understanding of the Microsoft technology solution and how it can help increase
                your service offerings and prospective customers.</p>
        </div>
    </div>
</div>
