<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApplicationIdentifier" value="" />
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="ABC Trace Listener" type="Abc.Diagnostics.TraceListener, Abc.Client"/>
        <add name="Console Trace Listener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>