  <?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationIdentifier" value="" />
  </appSettings>
  <system.web>
    <customErrors mode="On" />
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Abc.Services.Datum">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="TransportSecurity" contract="Abc.Services.IDatum" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="TransportSecurity" maxReceivedMessageSize="262144">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="ICentralHub">
          <security mode="Transport" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://entitlement.abcapi.ws/CentralHub.svc" binding="wsHttpBinding" bindingConfiguration="ICentralHub" contract="CentralHub.ICentralHub" name="WSHttpBinding_ICentralHub" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="msshrtmi" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>