
#nav-tabs ul                    { background:url('theme-purple/back-theme-purple.png') repeat-x left top;}
.dash-nav-cols li.current 		{ background: url('theme-purple/back-theme-purple.png') -200px -134px; }
.dash-nav-cols li:hover 		{ background: url('theme-purple/back-theme-purple.png') -200px -134px transparent; }
body 							{ background:#272727 url('theme-purple/back-theme-purple.png') repeat-x left -234px; }

#toolbar ul a:hover 			{ color:#69566E; }

#toolbar ul>li> a				{ color:#C7D9E0; }

#toolbar ul ul a 				{ color:#69566E; }
#toolbar ul ul a:hover 			{ color:#342136; }

   
#toolbar ul li.current>a 		{ color:#69566E; }