
#nav-tabs ul                    { background:url('theme-brown/back-theme-brown.png') repeat-x left top;}
.dash-nav-cols li.current 		{ background: url('theme-brown/back-theme-brown.png') -200px -134px; }
.dash-nav-cols li:hover 		{ background: url('theme-brown/back-theme-brown.png') -200px -134px transparent; }
body 							{ background:#272727 url('theme-brown/back-theme-brown.png') repeat-x left -234px; }

#toolbar ul a:hover 			{ color:#7F5426; }

#toolbar ul>li> a				{ color:#C7D9E0; }

#toolbar ul ul a 				{ color:#7F5426; }
#toolbar ul ul a:hover 			{ color:#482E15; }

   
#toolbar ul li.current>a 		{ color:#7F5426; }