<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApplicationIdentifier" value="72b66fdd-0f4c-484c-88e1-b7c64bce545a"/>
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="ABC Trace Listener" type="Abc.Diagnostics.TraceListener, Abc.Client"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>