@{ 
  var currentYear = DateTime.Now.Year.ToString();
}
<div class="band bottom">
  <footer class="bottom container">
    <div class="eight columns first-credit">
      <p>
        Copyright &copy; @currentYear | <a href="//codestorm.in" title="CodeStorm: Social DevOps">CodeStorm</a> | All Rights Reserved.
      </p>
    </div>
    <div class="eight columns last-credit">
      <div class="btn-microsoft-partner">
        <a href="//www.microsoft.com" title="Microsoft" target="_blank">
          <img src="@Url.Content("~/content/images/ui/btn-microsoft-partner.png")" 
            alt="Microsoft Partner"></a>
      </div>
    </div>
  </footer>
</div>
