@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <center>
    <img src="http://smartcanucks.ca/wp-content/uploads/2008/01/kitten-canada.jpg" />
  <h1>Meowwww!!</h1>

  <p>Hi there, this is Sir Meowington,<br /><br /> The detector of all errors across the site. We've been notified and we're getting developers to look at it. Please sit tight.</p>

  </center>
</body>
</html>
