<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="PayPal.PaymentDataTransfer" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PayPal.PaymentDataTransferUrl" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="FederationMetadataLocation" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="FederationTLD" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <microsoft.identityModel>
    <service>
      <serviceCertificate>
        <certificateReference xdt:Transform="Insert" x509FindType="FindByThumbprint" findValue="DF718BC9B0712394F2D64A06A7057A3E47FA119D" storeLocation="LocalMachine" storeName="My" />
      </serviceCertificate>
      <federatedAuthentication>
        <wsFederation xdt:Transform="Replace" passiveRedirectEnabled="true" issuer="https://agilebc.accesscontrol.windows.net/v2/wsfederation" realm="http://www.agilebusinesscloud.com/" requireHttps="false" />
      </federatedAuthentication>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <add xdt:Transform="Replace" thumbprint="DF718BC9B0712394F2D64A06A7057A3E47FA119D" name="https://agilebc.accesscontrol.windows.net/" />
        </trustedIssuers>
      </issuerNameRegistry>
    </service>
  </microsoft.identityModel>
</configuration>