<div>
  <ul>
    <li><a class="btn-connect btn-connect-facebook" href="http://facebook.com">Connect with Jef on Facebook</a></li>
    <li><a class="btn-connect btn-connect-twitter" href="http://facebook.com">Follow Jef on Twitter</a></li>
    <li><a class="btn-connect btn-connect-googleplus" href="http://facebook.com">Circle with Jef on Google Plus</a></li>
  </ul>
</div>
